n8n_workflow_category.json
{
  "name": "Catawiki: Category Scraper (URL-CAT → CATALOG)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 400],
      "id": "1"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "URL-CAT",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "category url",
              "lookupValue": "=*catawiki*"
            }
          ]
        },
        "options": {
          "useQueryString": false
        }
      },
      "name": "Read Category URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [450, 400],
      "id": "2"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract category URL from Google Sheets (filtered data)\nconst items = $input.all();\n\nconsole.log('Total items received:', items.length);\n\nif (items.length === 0) {\n  throw new Error('No data received from Google Sheets. Check if URL-CAT sheet has data.');\n}\n\n// Get first item (already filtered by Google Sheets)\nconst firstItem = items[0].json;\n\n// Try to get URL from different possible field names\nconst categoryUrl = firstItem['category url'] || firstItem.category_url || firstItem.url || firstItem.A;\n\nif (!categoryUrl) {\n  console.error('Available fields:', Object.keys(firstItem));\n  throw new Error('Category URL field not found. Available fields: ' + Object.keys(firstItem).join(', '));\n}\n\nconst urlStr = String(categoryUrl).trim();\n\nconsole.log('✓ Category URL:', urlStr);\n\nif (!urlStr.startsWith('http')) {\n  throw new Error('Invalid URL format. URL must start with http:// or https://');\n}\n\nreturn { json: { category_url: urlStr } };"
      },
      "name": "Prepare Category URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400],
      "id": "3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8000/scrape-category",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category_url",
              "value": "={{ $json.category_url }}"
            },
            {
              "name": "max_pages",
              "value": "=null"
            },
            {
              "name": "headless",
              "value": "=true"
            },
            {
              "name": "save_csv",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Category Scraping Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400],
      "id": "4"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "name": "Wait 5 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 400],
      "id": "5",
      "notes": "Category scraping takes longer than batch scraping"
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:8000/job/{{ $json.job_id }}",
        "options": {}
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400],
      "id": "6"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Check if job is completed\nconst data = $input.first().json;\nconst status = data.status;\n\nconsole.log('Job status:', status);\n\nif (status === 'completed') {\n  // Success - return data in first output\n  return [[$input.first()]];\n} else if (status === 'running') {\n  // Still running - return in third output for retry\n  return [null, null, [$input.first()]];\n} else {\n  // Error - return in second output\n  return [null, [$input.first()]];\n}"
      },
      "name": "Check If Completed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400],
      "id": "7"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract and format results for CATALOG sheet\nconst results = $input.first().json.result.results || [];\n\nconsole.log('Processing results:', results.length);\n\n// Format for Google Sheets\nreturn results.map(item => ({\n  json: {\n    title: item.title || '',\n    bottles_count: item.bottles_count || '',\n    seller_name: item.seller_name || '',\n    current_price: item.current_price || '',\n    shipping_cost: item.shipping_cost || '',\n    end_date: item.end_date || '',\n    images_count: (item.images || []).length,\n    first_image: item.first_image || '',\n    url: item.url || '',\n    scraped_at: item.scraped_at || '',\n    producer_rating: item.producer_rating || '',\n    vintage_rating: item.vintage_rating || '',\n    region_rating: item.region_rating || '',\n    overall_appeal: item.overall_appeal || '',\n    investment_potential: item.investment_potential || ''\n  }\n}));"
      },
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300],
      "id": "8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CATALOG",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "bottles_count": "={{ $json.bottles_count }}",
            "seller_name": "={{ $json.seller_name }}",
            "current_price": "={{ $json.current_price }}",
            "shipping_cost": "={{ $json.shipping_cost }}",
            "end_date": "={{ $json.end_date }}",
            "images_count": "={{ $json.images_count }}",
            "first_image": "={{ $json.first_image }}",
            "url": "={{ $json.url }}",
            "scraped_at": "={{ $json.scraped_at }}",
            "producer_rating": "={{ $json.producer_rating }}",
            "vintage_rating": "={{ $json.vintage_rating }}",
            "region_rating": "={{ $json.region_rating }}",
            "overall_appeal": "={{ $json.overall_appeal }}",
            "investment_potential": "={{ $json.investment_potential }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "name": "Write to CATALOG Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [1850, 300],
      "id": "9"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    error: true,\n    status: data.status,\n    message: `Job status: ${data.status}\\nError: ${data.error || 'Unknown'}`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 500],
      "id": "10"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "name": "Wait 2 More Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1450, 600],
      "id": "11",
      "notes": "Retry if still running"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Category URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Category URLs": {
      "main": [
        [
          {
            "node": "Prepare Category URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Category URL": {
      "main": [
        [
          {
            "node": "Start Category Scraping Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Category Scraping Job": {
      "main": [
        [
          {
            "node": "Wait 5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Check If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Completed": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 More Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Write to CATALOG Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 More Minutes": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
