n8n_workflow_batch.json
{
  "name": "Catawiki Batch Scrape with Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Schedule (Daily 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_SPREADSHEET_ID",
        "sheetName": "URLs",
        "range": "A:A",
        "options": {}
      },
      "name": "Read URLs from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "name": "Prepare URLs Array",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [650, 300],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/scrape-batch",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"urls\": {{ $json.urls }},\n  \"headless\": true,\n  \"save_csv\": true\n}"
      },
      "name": "Start Batch Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "name": "Wait for Job",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:8000/job/{{ $json.job_id }}",
        "options": {}
      },
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "name": "Job Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_SPREADSHEET_ID",
        "sheetName": "Results",
        "options": {}
      },
      "name": "Write to Results Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Batch scraping completed!\n\nTotal: {{ $json.result.total_urls }}\nSuccessful: {{ $json.result.successful }}\nFailed: {{ $json.result.failed }}"
      },
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ Batch scraping failed or still running\n\nStatus: {{ $json.status }}"
      },
      "name": "Send Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "Schedule (Daily 9am)": {
      "main": [
        [
          {
            "node": "Read URLs from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read URLs from Sheet": {
      "main": [
        [
          {
            "node": "Prepare URLs Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare URLs Array": {
      "main": [
        [
          {
            "node": "Start Batch Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Batch Job": {
      "main": [
        [
          {
            "node": "Wait for Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Job": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Job Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Completed?": {
      "main": [
        [
          {
            "node": "Write to Results Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Results Sheet": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
